{{page-title "Flexible"}}
 
      <h3>Demo</h3>
       <div class="book-list-container">
<div class="scroll-container">
  <VerticalCollection
    @items={{@model.data.numbers}}
    @estimateHeight={{120}}
    @bufferSize={{10}}
    @key="id"
    @lastReached={{this.loadMore}}
    as |item index|
  >
    <Flash @isDynamic={{true}} @item={{item}} @index={{index}} />
  </VerticalCollection>
</div>
 
      </div>
      