{{page-title "Scrollable"}}
 <div class="col-sm-7">
      {{! BEGIN-SNIPPET scrollable-body-example }}
      <VerticalCollection
        @items={{this.application.books}}
        @estimateHeight={{40}}
        @containerSelector="body" as |book index|
      >
      <Flash @isDynamic={{false}} @item={{book}} @index={{index}} />
      </VerticalCollection>
      {{! END-SNIPPET }}
    </div>